* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.portfolio {
    margin: 10px;
    max-width: 200px;
    color: #4aaaa5;
}
.Profile-Picture {
    max-width: 200px;
    float: left;
    margin-right: 10px;
}
.btn {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero {
    background-image: url("Assets/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
a {
    background-color: #4aaaa5;;
}

